<div class="bg4" id="poll-panel">

	<!-- IF S_SHOW_POLL_BOX -->
	<p>{L_ADD_POLL_EXPLAIN}</p>
	<!-- ENDIF -->

	<fieldset class="fields2">
	<!-- IF S_SHOW_POLL_BOX -->
		<!-- IF S_POLL_DELETE -->
			<dl>
				<dt><label for="poll_delete">{L_POLL_DELETE}:</label></dt>
				<dd><label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label></dd>
			</dl>
		<!-- ENDIF -->
		<dl>
			<dt><label for="poll_title">{L_POLL_QUESTION}:</label></dt>
			<dd><input type="text" name="poll_title" id="poll_title" maxlength="255" value="{POLL_TITLE}" class="inputbox" /></dd>
		</dl>
		<dl>
			<dt><label for="poll_option_text">{L_POLL_OPTIONS}:</label><br /><span>{L_POLL_OPTIONS_EXPLAIN}</span></dt>
			<dd><textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35" class="inputbox">{POLL_OPTIONS}</textarea></dd>
		</dl>

		<hr class="dashed" />

		<dl>
			<dt><label for="poll_max_options">{L_POLL_MAX_OPTIONS}:</label></dt>
			<dd><input type="text" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" class="inputbox autowidth" /></dd>
			<dd>{L_POLL_MAX_OPTIONS_EXPLAIN}</dd>
		</dl>
		<dl>
			<dt><label for="poll_length">{L_POLL_FOR}:</label></dt>
			<dd><label for="poll_length"><input type="text" name="poll_length" id="poll_length" size="3" maxlength="3" value="{POLL_LENGTH}" class="inputbox autowidth" /> {L_DAYS}</label></dd>
			<dd>{L_POLL_FOR_EXPLAIN}</dd>
		</dl>

		<!-- IF S_POLL_VOTE_CHANGE -->
			<hr class="dashed" />
			
			<dl>
				<dt><label for="poll_vote_change">{L_POLL_VOTE_CHANGE}:</label></dt>
				<dd><label for="poll_vote_change"><input type="checkbox" id="poll_vote_change" name="poll_vote_change"{VOTE_CHANGE_CHECKED} /> {L_POLL_VOTE_CHANGE_EXPLAIN}</label></dd>
			</dl>
		<!-- ENDIF -->

	<!-- ELSEIF S_POLL_DELETE -->
		<dl class="fields1">
			<dt><label for="poll_delete">{L_POLL_DELETE}:</label></dt>
			<dd><label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label></dd>
		</dl>
	<!-- ENDIF -->
	</fieldset>

</div>
