<!-- INCLUDE simple_header.html -->

{$BEGIN_TCORNERS}{L_WHOIS}{$END_TCORNERS}
<div class="bg4">

	<div class="postbody"><div class="content">
		<pre>{WHOIS}</pre>
	</div></div>

</div>
	{$BCORNERS}
		<br />
<a  href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->